[Unit]
Description=Updates Yay app list.
After=network.target

[Service]
WorkingDirectory=/home/mic/python/cli_apps/cli_aps/yay_data
ExecStart=/usr/bin/python main.py
User=mic
Group=mic

[Install]
WantedBy=multi-user.target

