[Unit]
Description=Huey Task for Yay Updating.
After=network.target

[Service]
WorkingDirectory=/home/mic/python/cli_apps/cli_apps/yay_querying/
ExecStart=/usr/bin/huey_consumer.py tasks.huey -l huey.log
User=mic
Group=mic

[Install]
WantedBy=multi-user.target
