[Unit]
Description=Updating the pip list.
Requires=pypi_updt.service

[Timer]
Unit=pypi_updt.service
OnCalendar=weekly

[Install]
WantedBy=timers.target
